# compress.so: gzip + brotli for text types, only when the origin did not compress
enabled true
supported-algorithms gzip,br
cache false
remove-accept-encoding true
compressible-content-type text/*
compressible-content-type application/json
compressible-content-type application/javascript
minimum-content-length 256
flush true
